@import '../assets/css/bootstrap.min.css';

.checked .text{
    text-decoration: line-through;
    color: grey
}

.container{
    height: 100%;
    padding: 20px
}


.content-wrapper h1 {
    margin: 20px 0;
}
.content-wrapper{
    height: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000; 
    overflow: scroll   
}
.list-group{
    margin-top: 30px;
}

 body{
     background: rgba(150, 18, 18, 0.555);
     height: 100vh
 }
@media (max-width: 960px) {
    .container{
        padding: 0;
    }
    .content-wrapper{
        width: 100%;
        margin: 0;
        border-radius: initial;
        box-shadow: initial;
        height: 100%

    }
    .container h1 {
        text-align: center
    }
 }
